/* Pesquisar como mudar o media para aparelhos com telas menores que 1920 x 1080 */
/* Colocar os carrosseis nos mediaquarrys */


/* =================================================== HEADER ===================================================*/

@media (max-width:960px) and (min-height:472px) {
    .navbar-toggler {
        border: none;
        position: relative;
        color: black;
        font-size: 1.0rem;
        margin-bottom: 2.5vh;

    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-link {
        color: black;
        font-weight: 500;
        position: relative;
        font-size: 1.2vw;
    }

    .Icons {
        position: relative;
        margin-right: 3%;
        width: 1.5vw;
        height: auto;
        max-width: 100%;
        top: 0.4vh;
    }

    .ImagemHeader {
        position: relative;
        width: 7vw;
        height: auto;
        max-width: 100%;

        background-color: white;
        border-radius: 50%;
        border: 0.5px solid;
        border-color: gray;
        bottom: 0.2vh;
    }

    .login-button {
        position: relative;
        background-color: white;
        color: black;
        font-size: 1vw;
        bottom: 0.4vw;
        padding: 1vh 0.8vw;
        border-radius: 2vw;
        text-decoration: none;
        transition: 0.3s background-color;
    }
}

@media (max-width:768px) and (min-height:120px) {
    .navbar-toggler {
        border: none;
        position: relative;
        color: black;
        font-size: 0.8rem;
        margin-bottom: 2.8vh;

    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-link {
        color: black;
        font-weight: 500;
        position: relative;
        font-size: 1.2vw;
    }

    .Icons {
        position: relative;
        bottom: 0.2vh;
        margin-right: 3%;
        width: 1.5vw;
        height: auto;
        max-width: 100%;
    }

    .ImagemHeader {
        position: relative;
        width: 7vw;
        height: auto;
        max-width: 100%;

        background-color: white;
        border-radius: 50%;
        border: 0.5px solid;
        border-color: gray;
        bottom: 1.2vh;
    }

    .login-button {
        position: relative;
        background-color: white;
        color: black;
        font-size: 1vw;
        bottom: 0.8vw;
        padding: 1vh 0.8vw;
        border-radius: 2vw;
        text-decoration: none;
        transition: 0.3s background-color;
    }
}

@media (max-width:640px) and (min-height:310px) {
    .navbar-toggler {
        border: none;
        position: relative;
        color: black;
        font-size: 0.7rem;
        margin-bottom: 3.5vh;

    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-link {
        color: black;
        font-weight: 500;
        position: relative;
        font-size: 1.2vw;
    }

    .Icons {
        position: relative;
        bottom: 0.8vh;
        margin-right: 3%;
        width: 1.5vw;
        height: auto;
        max-width: 100%;
    }

    .ImagemHeader {
        position: relative;
        width: 7vw;
        height: auto;
        max-width: 100%;

        background-color: white;
        border-radius: 50%;
        border: 0.5px solid;
        border-color: gray;
        bottom: 1.2vh;
    }

    .login-button {
        position: relative;
        background-color: white;
        color: black;
        font-size: 1vw;
        bottom: 1.2vw;
        padding: 1vh 0.8vw;
        border-radius: 2vw;
        text-decoration: none;
        transition: 0.3s background-color;
    }
}

@media (max-width:480px) and (min-height:236px) {
    .navbar-toggler {
        border: none;
        position: relative;
        color: black;
        font-size: 0.5rem;
        margin-bottom: 3.9vh;
    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-link {
        color: black;
        font-weight: 500;
        position: relative;
        font-size: 1.2vw;
    }

    .Icons {
        position: relative;
        bottom: 1.6vh;
        margin-right: 3%;
        width: 1.5vw;
        height: auto;
        max-width: 100%;
    }

    .ImagemHeader {
        position: relative;
        width: 7vw;
        height: auto;
        max-width: 100%;

        background-color: white;
        border-radius: 50%;
        border: 0.5px solid;
        border-color: gray;
        bottom: 3vh;
    }

    .login-button {
        position: relative;
        background-color: white;
        color: black;
        font-size: 1vw;
        bottom: 1.8vw;
        padding: 1vh 0.8vw;
        border-radius: 2vw;
        text-decoration: none;
        transition: 0.3s background-color;
    }
}


@media (max-width:385px) and (min-height:189px) {
    .navbar-toggler {
        border: none;
        position: relative;
        color: black;
        font-size: 0.4rem;
        bottom: 2.9vh;

    }

    .navbar-toggler:focus,
    .btn-close:focus {
        box-shadow: none;
        outline: none;
    }

    .nav-link {
        color: black;
        font-weight: 500;
        position: relative;
        font-size: 1.2vw;
    }

    .Icons {
        position: flex;
        justify-content: center;
        margin-bottom: 7.4vh;
        margin-right: 3%;
        width: 1.5vw;
        height: auto;
        max-width: 100%;
    }

    .ImagemHeader {
        position: relative;
        width: 7vw;
        height: auto;
        max-width: 100%;

        background-color: white;
        border-radius: 50%;
        border: 0.5px solid;
        border-color: gray;
        bottom: 6.2vh;
    }

    .login-button {
        position: relative;
        background-color: white;
        color: black;
        font-size: 1vw;
        bottom: 3.2vw;
        padding: 1vh 0.8vw;
        border-radius: 2vw;
        text-decoration: none;
        transition: 0.3s background-color;
    }
}

/* =================================================== CARROSSEIS =================================================== */

@media (min-width:1536px) and (max-height: 630px) {
    #SlidesProdutos {
        margin-top: 6%;
        margin-left: 0vw;
    }

    .card-text {
        width: 10rem;
        font-size: 1vw;
    }

    .card-title {
        font-size: 1vw;
    }

    .TituloProdutos {
        font-size: 2.3vw;
    }

}

@media (min-width:960px) and (max-height: 540px) {
    #SlidesProdutos {
        margin-top: 7%;
        margin-left: 0vw;
    }

    .card {
        width: 10rem;
        height: auto;
    }

    .card-text {
        width: 10rem;
        font-size: 1vw;
    }

    .card-title {
        font-size: 1vw;
    }

    .TituloProdutos {
        font-size: 2vw;
        bottom: 50px;
    }

    .btn {
        font-size: 2vh;
    }

}

@media (min-width:768px) and (max-height: 378px) {
    #SlidesProdutos {
        margin-top: 9%;
        margin-left: 0vw;
    }

    .card {
        width: 8rem;
        height: auto;
    }

    .card-text {
        width: 10rem;
        font-size: 1.2vw;
    }

    .card-title {
        font-size: 1.3vw;
    }

    .TituloProdutos {
        font-size: 2vw;
        bottom: 40px;
    }

    .btn {
        font-size: 2.3vh;
    }

}

@media (min-width:640px) and (max-height: 315px) {
    #SlidesProdutos {
        margin-top: 9%;
        margin-left: 0vw;
    }

    .card {
        width: 6rem;
        height: auto;
    }

    .card-title {
        display: flex;
    }

    .card-text {
        width: 7rem;
        font-size: 0.9vw;
    }

    .card-title {
        font-size: 1vw;
    }

    .TituloProdutos {
        font-size: 2vw;
        bottom: 40px;
    }

    .card-body .btn {
        display: flex;
        position: relative;
        font-size: 2.3vh;
        right: 1.5vw;
        width: 8vw;
    }

}



/* @media (min-width:2049px) and (max-width: 2731px) {
    #SlidesProdutos {
        margin-top: 5%;
        margin-left: 0vw;
    }

    .card-img-top {
        position: relative;
        left: 30%;
        width: 4vw;
        height: 10vh;

    }

    .card-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 50px;
    }

    .card {
        width: 16rem;
    }

    #Proximo {
        border-radius: 50%;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-left: 2vw;
    }

    #Anterior {
        border-radius: 50%;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-right: 2vw;
    }

}

@media (min-width:2732px) and (max-width: 2564px) {
    #SlidesProdutos {
        margin-top: 5%;
        margin-left: 0vw;
    }

    .card-img-top {
        position: relative;
        left: 30%;
        width: 4vw;
        height: 10vh;

    }

    .card-wrapper {
        display: flex;
        justify-content: space-around;
        margin-top: 50vh;
    }

    .card {
        width: 16rem;
    }

    #Proximo {
        border-radius: 50%;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-left: 2vw;
    }

    #Anterior {
        border-radius: 50%;
        height: 20px;
        width: auto;
        padding: 15px;
        margin-right: 2vw;
    }

} */