@import "estiloPadrao.css";

main {
    height: 100%;
}

.colunaOpcoes {
    background-color: var(--azul);
    height: 100vh; /* Faz ocupar */
}

.cabecalhoOpcoes {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.opcao {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    height: 6.5rem;
    background-color: var(--corFundo);
    margin: 10px;
    padding: 60px !important;
}